#review{
  min-height: 100vh;
  text-align: center;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  flex: 1; 
  align-items: center;
}

.review-card {
  background: #fff;
  padding: 1.15rem 1rem;
  border-radius: 12px;
  width: 950px;
  text-align: center;
  transition: transform 0.3s ease;
}

.review-card p {
  font-size: 1.15rem;
  color: #000000;
  margin-bottom: 1rem;
}

.review-card span {
  font-weight: 600;
  font-size: 1.15rem;
  color: #333;
}

.review-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: #ffb400; 
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}